.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
}
.total-price {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 1rem;
  font-size: 20px;
}
.middle-section {
  margin: 0 auto;
  height: calc(92vh - 76px);
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
